.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1e1e1e;
  color: white;
  height: 100vh;
  width: 300px;
  padding: 20px 0;
  box-sizing: border-box;
  gap: 24px;
}

.profile-logout-btn {
  margin-top: auto;
  padding: 10px 0;
  width: 100%;
  background: #120444;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.08rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.logo img {
  width: 130px;
  height: auto;
  border-radius: 8px;
}

.column ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.column li {
  list-style: none;
  width: 100%;
  margin-bottom: 8px;
}

.column button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.column button:hover {
  background-color: #333;
  color: #00ffcc;
}

.column button.active-tab {
  color: #00ffcc;
  font-weight: 800;
}

.column button {
  text-align: left;
}
