body {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  height: 100vh;
}

/* Root bao toàn bộ layout */
#root {
  height: 100vh;
  width: 100vw;
  display: flex; /* Chia ngang: sidebar + content */
}

/* Sidebar */
.content-left {
  width: 300px; /* Cố định chiều rộng */
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

/* Content bên phải */
.content-right {
  flex: 1; /* Chiếm hết phần còn lại */
  background-color: #242424;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
